<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ghidra Panel - Error</title>
    {{ template "head.gohtml" . }}
</head>
<body>
{{ template "nav.gohtml" .Data.State }}
<main class="container">
    <h1>Error</h1>
    <article class="alert error">{{ .Data.Message }} Please contact server admin.</article>
</main>
{{ template "footer.gohtml" .Data.State }}
</body>
</html>
