<nav class="container-fluid">
  <ul>
    <li>
      <a href="/" class="contrast">
        <strong>{{ .CommunityName }}</strong>
      </a>
    </li>
    {{ range $nav := .Nav }}
    <li>
      <a href="{{ $nav.Route }}">{{ $nav.Name }}</a>
    </li>
    {{ end }}
  </ul>
  {{ if .Identity }}
  <ul>
    {{ if .SuperAdmin }}
    <li><a href="/admin">Admin</a></li>
    {{ end }}
    <li><a href="/logout">Logout</a></li>
  </ul>
  {{ end }}
</nav>
